name: Construir APK Android

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Chequear código
      uses: actions/checkout@v4

    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Instalar Flutter (Necesario para Flet)
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'  # <--- ESTO ES LO QUE CAMBIAMOS
        # Borramos la línea que decía flutter-version: '3.22.x'

    - name: Instalar dependencias
      run: |
        pip install -r requirements.txt
        pip install flet

    - name: Construir APK
      run: |
        flet build apk --verbose

    - name: Subir el APK generado
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/apk/app-release.apk
