name: Construir APK Android

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Descargar tu código
    - name: Chequear código
      uses: actions/checkout@v4

    # 2. Instalar Python
    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    # 3. Instalar Flutter ESPECÍFICO (La versión 3.24.5 es compatible con Flet 0.25.2)
    - name: Instalar Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.5' # <--- AQUÍ ESTÁ LA CLAVE
        cache: true

    # 4. Instalar dependencias
    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # Aseguramos que se instale flet 0.25.2 si no estaba en el txt
        pip install flet==0.25.2

    # 5. Generar el APK
    - name: Construir APK
      run: |
        flet build apk --verbose

    # 6. Subir el APK
    - name: Subir el APK generado
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/apk/app-release.apk
